*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    font-size: 62.5%;
}

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: Outfit, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg);
}

.card {
    max-width: 300px;
    padding: 2.2rem;
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.card__body {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--soft-blue);
}

.card__title {
    color: var(--white);
    font-weight: 600;
}

.card__footer {
    display: flex;
}

.img__footer {
    width: 35px;
}

.card__image__container {
    border-radius: 7px;
    position: relative;
    width: 100%;
}

.card__offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--line);
    padding-bottom: 13px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: rgb(62, 82, 163);
}

.card__price {
    color: var(--cyan);
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.4rem;
}

.card__body {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--soft-blue);
}

.card__title {
    color: var(--white);
    font-weight: 600;
}

.card__title:hover {
    color: var(--cyan);
}

.card__days {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--soft-blue);
}

.card__footer {
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    padding-top: 7px;
}

.img__footer {
    width: 35px;
    margin-right: 10px;
    border: 1px solid var(--white);
    border-radius: 20px;
}

.card__footer-text-1 {
    color: var(--soft-blue);
    margin-right: 5px;
}

.card__footer-text-2 {
    color: var(--white);
}

.card__footer-text-2:hover {
    color: var(--cyan);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .card__image__container:hover .overlay {
    opacity: 0.6;
  }

.card__hover__image {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }